.bgBurgerMenu {
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    font-weight: 900px;
}

.contranner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 3rem; */
    margin-left: 10%;
    margin-right: 10%;
}

.contranner img {
    width: 20%;
    margin: 1rem;
}

@media only screen and (max-width:480px) {
    .contranner {
        justify-content: center;
    }
}