.containner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-li {
    padding-left: 2rem;
}

.menu-li a {
    color: #42200B;
}

.burgermenu {
    display: none;
}

@media only screen and (max-width:480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        top: 70px;
        right: -50px;
        z-index: 1;
    }
    .menu-li {
        border: solid 1px;
        background-color: rgb(255, 141, 11);
    }
    .menu-li a {
        padding: 0rem 2rem 0rem 1rem;
    }
    .menu {
        display: none;
    }
    .burgermenu {
        display: block;
        cursor: pointer;
    }
}